$datepicker-font-size: 1rem !default;
$datepicker-default-color: #aaa !default;
$datepicker-hover-color: #eee !default;
$datepicker-primary-background: #333 !default;
$datepicker-primary-highlight-background: #999 !default;
$datepicker-black: #000 !default;
